$contentBackground: #fff;
$cardBackground: #3b3f50;
$imageBackground: url(../img/m-h-day.jpg);
$colorHeader: #2c2f3c;
$headerBackground: #14a0c7;
$buttonColor: #699900;
$gradientColor: linear-gradient(to right, #649412, #2e5cd7);
$headerFont: "Source Sans Pro", sans-serif;
$sectionFont: "Hind", sans-serif ;
$textFont: "Fresca", sans-serif;
