$contentBackground: #21232e;
$cardBackground: #3b3f50;
$imageBackground: url(../img/m-h-night.jpg);
$colorHeader: #fff;
$headerBackground: #ff4e33;
$buttonColor:#e3ac00;
$gradientColor:linear-gradient(to right, #e3ac00, #932d53)