body{
    margin: 0 auto;
}
.folder_icon{
    color: orange;
}
.insert_drive_file{
    color: gray;
    margin-right:5px ;
}
li {
    display: flex;
    align-items: center;
    list-style: none;
    user-select: none;
    cursor: pointer;
}
li:hover{
    background-color:lightgrey;
}
.open{
    display: block;
}
.close{
    display: none;
}
